@media (max-width: 992px) {
    .container {
        max-width: 880px;
    }

    .menu__list {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo__mobile {
        display: block;
        min-width: 169px;
        min-height: 56px;
        z-index: 10;



    }

    .menu__burgerCloseBtn {
        position: absolute;
        top: 30px;
        /* Отступ от верхнего края */
        right: 20px;
        /* Отступ от правого края */
        cursor: pointer;
        width: 30px;
        /* Задайте ширину и высоту, подходящую для вашей иконки */
        height: 30px;
    }

    .menu__burgerCloseBtn img {
        width: 100%;
        height: 100%;
    }

    .header {
        padding-top: 15px;
    }

    .header__title {
        font-size: 65px;
    }

    .header__title::before {
        left: 50px;
    }

    .header__text {
        font-size: 14px;
        margin-left: 50px;
    }

    .header_inner img {
        width: 465px;
        height: 255px;
    }

    .mainBtn {
        width: 170px;
        height: 170px;
        .btnText {
            font-size: 14px;
        }
    }

    

    .menu__burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 4;

    }

    .menu__burger,
    .menu__social,
    .menu__btn {
        flex-shrink: 0;
    }

    .menu__burger span {
        height: 2px;
        width: 100%;
        background-color: black;
    }

    .menu__btn {
        z-index: 10;
        margin-left: 350px;

    }

    .menu__social {
        z-index: 10;
    }

    .menu__mobile {
        display: none;
    }

    .menu__mobile.menu--open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #F0FDFF;
        height: 100vh;
        z-index: 5;
        text-align: left;
        padding-top: 300px;
        padding-left: 25px;

        &::before {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            display: block;
            background-image: url('../images/decor/star.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            top: 230px;
            right: 300px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            display: block;
            background-image: url('../images/decor/star.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            top: 700px;
            right: 100px;
        }
    }

    .menu__mobile-link {
        color: #000;
        font-family: Mulish;
        font-size: 4vh;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        display: block;
        padding: 20px 0;
    }

    .portfolio__grid {
        grid-template-rows: 230px 230px;
        gap: 15px;
    }

    .portfolio__grid--item {
        width: 100%;
        height: 100%;
    }

    .portfolio__grid--item img {
        width: 100%;
        /* Ширина картинки займет всю доступную ширину ячейки */
        height: 100%;
        /* Автоматическая высота, чтобы сохранить пропорции */
    }

    .portfolio__grid--item:hover {
        transform: none;

    }

    .portfolio__grid--item:nth-child(1) {

        height: 100%;
        flex-shrink: 0;
    }

    .portfolio__grid--item:nth-child(2) {

        flex-shrink: 0;
    }

    .portfolio__grid--item:nth-child(3) {

        flex-shrink: 0;
    }

    .portfolio__grid--item:nth-child(4) {

        height: 100%;
        flex-shrink: 0;
    }

    .portfolio__decor::before {
        bottom: 84px;
        left: 113px;
    }


    .cities__item {


        width: 235px;
        height: 235px;
    }

    .booking-form__inner {
        flex-direction: column;
    }

    .steps {
        flex-direction: row;

        &__line {
            display: none;
        }

        &__mobile--item {
            display: flex;

            align-items: center;
            justify-content: center;
        }

        &__mobile--line {
            width: 2px;
            height: 320px;
            background-color: #c4c4c4;


            z-index: -1;
            transform: rotate(90deg);
        }
    }
    .form__item {
        max-width: 350px;
        width: 100%;
       
    }
}



@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .header__title {
        font-size: 45px;
        max-width: 595px;
    }

    .header__text {
        font-size: 14px;
        margin-left: 15px;
    }
    .header_inner img {
        width: 385px;
        height: 205px;
    }

    .menu__btn {

        margin-left: 250px;
    }

    .portfolio__grid {
        gap: 15px;
    }

    .portfolio__decor::before {
        bottom: 65px;
        left: 50px;
    }
.designs__item:nth-child(1) img{
    height: auto;
}
    .designs__item:nth-child(1) {
        grid-column: 1/span 3;

        grid-row: 2/span 1;
    }

    .designs__item:nth-child(2) {
        grid-column: 5/span 4;

        grid-row: 2/span 2;
    }

    .designs__item:nth-child(3) {
        grid-column: 9/span 4;

        grid-row: 1/span 1;
    }

    .designs__item:nth-child(4) {
        grid-column: 1/span 3;

        grid-row: 4/span 3;
    }

    .designs__item:nth-child(5) {
        grid-column: 5/span 3;

        grid-row: 5/span 5;
    }

    .designs__item:nth-child(6) {
        grid-column: 8/span 4;

        grid-row: 4/span 3;
    }
    .designs__instagram{
        margin-top: -170px;
    }

    .cities__country {
        font-size: 17px;

    }

    .cities__item {


        width: 185px;
        height: 185px;
    }
    .form__item {
        max-width: 600px;
        width: 100%;
       
    }
    .steps {
        &__mobile--line {


            width: 2px;
            height: 240px;
            background-color: #c4c4c4;
        }

    }
}

@media (max-width: 576px) {
    .container {
        max-width: 530px;
    }

    .title {
        color: #000;
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .header::before {
        background-position: 33% 87%;
    }

    .header__wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        /* Чтобы элементы выравнивались по центру по горизонтали */
        text-align: center;
    }

    .header__title {
        font-size: 35px;
        text-align: left;
        max-width: 290px;
        line-height: 50px
    }

    .header__title::before {
        left: 280px;
        top: -80px;
    }

    .header__text {
        font-size: 14px;
        position: static;
        display: inline-block;
        text-align: left;
        margin-top: -40px;
    }

    .header_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Чтобы элементы выравнивались по центру по горизонтали */
        text-align: center;
    }

    .header_inner img {
        width: 420px;
        height: 260px;
        flex-shrink: 0;

    }

    .mainBtn {
        width: 200px;
        height: 200px;
        margin-top: 30px;
    }



    .menu__btn {

        margin-left: 1px;
    }

    .about {
        margin-bottom: 50px;
    }

    .about__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Чтобы элементы выравнивались по центру по горизонтали */
        text-align: left;
    }

    .about__right {
        margin-top: 30px;
    }

    .portfolio {
        padding-top: 50px;
    }

    .portfolio__grid {

        display: none;
    }

    .carusel__input {
        display: none;
    }

    .carusel {
        display: block;
        position: relative;
        max-width: 400px;
        height: 400px;
        max-height: 100vh;
        margin: 20px auto;
        overflow: hidden;
        user-select: none;
    }

    .carusel__item {
        position: absolute;
        z-index: 1;
        top: 0;
        display: none;
        width: 100%;
        height: 100%;
        background: center no-repeat;
        background-size: contain;
        transition: left 0.5s, transform 0.5s;
        will-change: transform;
        backface-visibility: hidden;
    }

    .carusel__arrow {
        display: none;
        position: absolute;
        top: 50%;
        z-index: 3;
        transform: translateY(-50%);
        opacity: 0.7;
        color: #fff;
        background-color: #999;
        cursor: pointer;
        padding: 10px;
        font-size: 28px;
        line-height: 39px;
        font-weight: bold;
    }

    input:checked+div~div~div~div .carusel__item {
        background-image: none !important;
    }

    input:checked+div *,
    input:checked+div+input+div .carusel__item,
    input:checked+div+input+div+input+div * {
        display: block;
    }

    .carusel__item {
        flex: 0 0 332px;
        height: 400px;
        border-radius: 130px 130px 5px 5px;
        background-size: cover;
        background-position: center;
    }

    input:checked+div .carusel__item {
        left: -100%;
        transform: scale(0.4);
    }

    input:checked+div+input+div .carusel__item {
        left: 0;
        transform: scale(1);
    }

    input:checked+div+input+div+input+div .carusel__item {
        left: 100%;
        transform: scale(0.4);
    }

    input:checked+div .carusel__arrow {
        left: 0;
    }

    input:checked+div+input+div+input+div .carusel__arrow {
        right: 0;
    }

    input:checked+div .carusel__arrow:before {
        content: '❰';
    }

    input:checked+div+input+div+input+div .carusel__arrow:before {
        content: '❱';
    }

    .portfolio__mobileBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .designs__inner {
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        justify-content: center;
    }

    .designs__item {
        width: 100%;
        height: 100%;
    }

    .designs__item img {
        width: 100%;

    }

    .designs__item:nth-child(1) {
        grid-column: 2/span 7;

        grid-row: 1/span 1;

    }

    .designs__item:nth-child(1) img {
        width: 160px;
        height: 160px;
    }




    .designs__item:nth-child(2) {
        grid-column: 8/span 5;

        grid-row: 1/span 1;

    }

    .designs__item:nth-child(2) img {
        width: 280px;
        // height: 280px;
    }


    .designs__item:nth-child(3) {
        grid-column: 4/span 8;
        grid-row: 6/span 3;

    }

    .designs__item:nth-child(3) img {
        width: 200px;
        // height: 200px;
    }


    .designs__item:nth-child(4) {
        grid-column: 3/span 6;

        grid-row: 3/span 3;

    }

    .designs__item:nth-child(4) img {
        width: 180px;
        height: 180px;
    }


    .designs__item:nth-child(5) {
        grid-column: 7/span 6;

        grid-row: 4/span 3;

    }

    .designs__item:nth-child(5) img {
        width: 230px;
        height: 230px;
    }



    .designs__item:nth-child(6) {
        grid-column: 4/span 8;

        grid-row: 8/span 3;

    }

    .designs__item:nth-child(6) img {
        width: 350px;
        // height: 350px;
    }

    .designs__instagram {
        margin-top: 50px;
    }

    .cities {
        padding-top: 100px;
        padding-bottom: 0;
    }

    .cities__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .cities__country {
        font-size: 22px;

    }

    .cities__item {
        margin-bottom: 16px;

        width: 256px;
        height: 256px;
    }

    .faq::after {
        background-position: 64% 48%;
    }

    .steps {
        &__mobile--line {


            width: 2px;
            height: 115px;
            background-color: #c4c4c4;
        }
    }

    .footer__wrapper {
        flex-direction: column;
        align-items: start;
    }

}

@media (max-width: 420px) {
    .header__title::before {
        left: 215px;
        top: -135px;
    }

    .designs__item:nth-child(1) {
        grid-column: 4/span 7;

        grid-row: 1/span 1;

    }

    .designs__item:nth-child(1) img {
        width: 160px;
        height: 160px;
    }




    .designs__item:nth-child(2) {
        grid-column: 8/span 5;

        grid-row: 2/span 1;

    }

    .designs__item:nth-child(2) img {
        width: 280px;
        // height: 280px;
    }


    .designs__item:nth-child(3) {
        grid-column: 4/span 8;
        grid-row: 6/span 3;

    }

    .designs__item:nth-child(3) img {
        width: 200px;
        // height: 200px;
    }


    .designs__item:nth-child(4) {
        grid-column: 3/span 6;

        grid-row: 3/span 3;

    }

    .designs__item:nth-child(4) img {
        width: 180px;
        height: 180px;
    }


    .designs__item:nth-child(5) {
        grid-column: 7/span 6;

        grid-row: 4/span 3;

    }

    .designs__item:nth-child(5) img {
        width: 230px;
        height: 230px;
    }



    .designs__item:nth-child(6) {
        grid-column: 4/span 8;

        grid-row: 8/span 3;

    }

    .designs__item:nth-child(6) img {
        width: 350px;
        // height: 350px;
    }

    .steps {
        &__mobile--line {


            width: 2px;
            height: 65px;
            background-color: #c4c4c4;
        }

    }
}