@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
.body {
  font-family: "Mulish", sans-serif;
  height: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.logo {
  fill: #000000;
  transition: fill 0.3s ease-in-out;
}
.logo:hover {
  fill: #ff39bc;
}

.title {
  padding: 25px 25px 0 0;
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  display: inline-block;
  font-size: 50px;
  color: #000;
}
.title::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  background-image: url("../images/decor/star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0;
}

.button {
  border: none;
  padding: 0 30px 0 0;
  background-color: transparent;
  color: #ff39bc;
  position: relative;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.button:hover {
  color: #1a1a1a;
}

.button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-image 0.3s ease-in-out;
}

.button:hover::before {
  background-image: url("../images/arrow__black.svg");
}

.button--back {
  color: #000;
  padding: 0 0 0 30px;
  transition: color 0.3s ease-in-out;
}

.button--back:hover {
  color: #ff39bc;
}

.button--back::before {
  background-image: url("../images/arrow-back.svg");
  left: 0;
}

.button--back:hover::before {
  background-image: url("../images/arrow-back__hover.svg");
}

.mainBtn {
  cursor: pointer;
  color: white;
  background-color: #ff39bc;
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.mainBtn:hover {
  background-color: transparent;
  border: 2px solid #ff39bc;
  color: #000;
}
.mainBtn .btnText {
  font-size: 16px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.toast-title {
  font-weight: bold;
}

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #ffffff;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/
}

#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

#toast-container > div:hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.toast {
  background-color: #030303;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
.header {
  position: relative;
  padding: 100px 0;
}
.header__wrapper {
  position: relative;
}
.header__text {
  width: 232px;
  position: absolute;
  left: 65%;
  top: 57%;
}
.header__btn a {
  color: inherit;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  position: relative;
  margin-top: 0;
  padding: 70px 0;
  color: #000;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 94px;
  text-transform: uppercase;
  max-width: 910px;
}
.header__title::before {
  content: "";
  position: absolute;
  display: block;
  width: 421px;
  height: 421px;
  background-image: url("../../images/header/header__decor.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 160px;
}

.logo__mobile {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.menu__mobile {
  display: none;
}
.menu__list {
  display: flex;
}
.menu__list-item {
  padding-left: 19px;
  padding-right: 19px;
}
.menu__list-link {
  transition: color 0.3s ease-in-out;
}
.menu__list-link:hover {
  color: #FF39BC;
}
.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  color: white;
  background-color: #FF39BC;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border: none;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3 ease-in-out;
}
.menu__btn:hover {
  filter: drop-shadow(-2px 4px 10px rgba(255, 57, 188, 0.25)) drop-shadow(0px -2px 8px rgba(255, 57, 188, 0.25));
}
.menu__social {
  display: flex;
}
.menu__social-item {
  padding-right: 10px;
  padding-left: 10px;
  fill: #000;
  transition: fill 0.3s ease-in-out;
  cursor: pointer;
}
.menu__social-item:hover {
  fill: #FF39BC;
}
.menu__list-link {
  color: black;
}
.menu__burger {
  display: none;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2000px;
  background-image: url("../../images/header/header__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: -450px;
  z-index: -1;
}

.about {
  position: relative;
  margin-bottom: 200px;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__right {
  max-width: 532px;
  width: 100%;
}
.about__left {
  position: relative;
  padding: 66px 55px 0 0;
}
.about__img {
  border-radius: 10px 202.5px 10px 10px;
}
.about__left::before {
  content: "";
  position: absolute;
  width: 245px;
  height: 245px;
  background-image: url("../../images/about-me/about-me__decor.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: -1;
  animation: rotate 10s linear 0s infinite;
}
.about__title {
  margin-bottom: 60px;
}
.about__text:not(:last-child) {
  margin-bottom: 40px;
}
.about::before {
  content: "";
  position: absolute;
  width: 835px;
  height: 1500px;
  background-image: url("../../images/about-me/about-me__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.portfolio {
  padding-top: 100px;
  position: relative;
}
.portfolio__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px;
  margin-top: 60px;
}
.portfolio__grid--item {
  text-align: center;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
.portfolio__grid--item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__grid--item:hover {
  transform: scale(1.05);
}
.portfolio__grid--item:nth-child(1) {
  grid-row: 1/span 2;
  width: 100%;
}
.portfolio__grid--item:nth-child(1) img {
  border-radius: 200px 0px 200px 200px;
}
.portfolio__grid--item:nth-child(2) img {
  border-radius: 10px;
}
.portfolio__grid--item:nth-child(3) img {
  border-radius: 10px 154.5px 10px 10px;
}
.portfolio__grid--item:nth-child(4) img {
  border-radius: 10px 10px 10px 154.5px;
}
.portfolio__decor {
  position: relative;
}
.portfolio__decor::before {
  content: "";
  position: absolute;
  width: 205px;
  height: 205px;
  background-image: url("../../images/portfolio/decor.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 165px;
  z-index: -1;
  animation: rotate 10s linear 0s infinite;
}
.portfolio__btn--container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
  grid-row: 2;
}
.portfolio__mobileBtn {
  display: none;
}

.carusel {
  display: none;
}

.designs {
  padding-top: 200px;
  position: relative;
}
.designs__inner {
  display: grid;
  grid-template-rows: repeat(8, 100px);
  justify-content: center;
}
.designs__img {
  border-radius: 50%;
  border: 10px solid #fff;
}
.designs__item:nth-child(1) img {
  width: 200px;
  height: 199px;
  flex-shrink: 0;
}
.designs__item:nth-child(2) img {
  width: 386px;
  flex-shrink: 0;
}
.designs__item:nth-child(3) img {
  width: 315px;
  flex-shrink: 0;
}
.designs__item:nth-child(4) img {
  width: 277px;
  flex-shrink: 0;
}
.designs__item:nth-child(5) img {
  width: 315px;
  flex-shrink: 0;
}
.designs__item:nth-child(6) img {
  width: 431px;
  flex-shrink: 0;
}
.designs__item:nth-child(1) {
  grid-column: 2/span 3;
  grid-row: 3/span 1;
}
.designs__item:nth-child(2) {
  grid-column: 5/span 4;
  grid-row: 2/span 2;
}
.designs__item:nth-child(3) {
  grid-column: 9/span 4;
}
.designs__item:nth-child(4) {
  grid-column: 1/span 3;
  grid-row: 5/span 3;
}
.designs__item:nth-child(5) {
  grid-column: 5/span 3;
  grid-row: 6/span 4;
}
.designs__item:nth-child(6) {
  grid-column: 9/span 4;
  grid-row: 5/span 3;
}
.designs__instagram {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  padding-bottom: 10px;
}
.designs__link {
  color: #000;
  position: relative;
  padding-right: 30px;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}
.designs__link:hover {
  color: #ff39bc;
}
.designs__link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.designs::before {
  content: "";
  position: absolute;
  max-width: 1779.469px;
  width: 100%;
  height: 3000px;
  background-image: url("../../images/designs/gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: -710px;
  z-index: -1;
}

.cities {
  padding: 100px 0;
  position: relative;
}
.cities__wrapper {
  display: flex;
  justify-content: space-around;
}
.cities__title {
  margin-bottom: 70px;
}
.cities__subtitle {
  text-align: center;
  margin-bottom: 75px;
  color: #000;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cities__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  max-width: 315px;
  width: 100%;
  height: 315px;
}
.cities__country {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}
.cities__text {
  display: block;
  padding: 3px;
}

.faq {
  padding: 100px 0;
  position: relative;
}
.faq::before {
  content: "";
  position: absolute;
  max-width: 2000px;
  width: 100%;
  min-height: 2160px;
  height: 100%;
  background-image: url("../../images/faq/Ellipse 92.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: -400px;
  z-index: -1;
}
.faq::after {
  content: "";
  position: absolute;
  max-width: 1500px;
  width: 100%;
  min-height: 4662px;
  height: 100%;
  background-image: url("../../images/faq/bg_right.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: -2900px;
  right: 0;
  z-index: -1;
}
.faq__title {
  margin-bottom: 50px;
}

.faq-container {
  max-width: 1130px;
  margin: 0 auto;
}

.faq__item {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.faq__item:hover {
  border: 1px solid #ff39bc;
}

.faq__item.active {
  background-color: #ff39bc;
  min-height: 170px;
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq__item.active .faq-title {
  color: #fff;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq__item.active .faq-text {
  display: block;
  color: #fff;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq__item.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

.faq__item.active .faq-toggle .fa-chevron-down {
  display: none;
}

.minus-icon {
  display: none;
}

/* Показываем иконку минуса при активности .faq.active */
.faq__item.active .minus-icon {
  display: inline;
}

/* Скрываем иконку плюса при активности .faq.active */
.faq__item.active .plus-icon {
  display: none;
}

.booking-form {
  padding: 100px 0;
}
.booking-form__title {
  margin-bottom: 70px;
}
.booking-form__inner {
  display: flex;
  justify-content: space-between;
}

.steps {
  min-height: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.steps__item {
  display: flex;
  align-items: center;
}
.steps__item:nth-child(1) {
  position: relative;
}
.steps__item:nth-child(1) div {
  cursor: pointer;
}
.steps__item:nth-child(2) div {
  cursor: no-drop;
}
.steps__wrap {
  width: 30px;
  font-family: "Montserrat";
  height: 30px;
  color: #fff;
  background-color: #ff39bc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  margin-right: 5px;
  transition: background-color 0.3s ease-in-out;
}
.steps__item:nth-child(1) .steps__wrap:hover {
  background-color: #b61d83;
}
.steps__wrap--gray {
  background-color: #9c9c9c;
}
.steps__title {
  font-size: 12px;
  position: relative;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  opacity: 0.8;
  max-width: 120px;
  padding-left: 20px;
}
.steps__title--gray {
  color: #9c9c9c;
}
.steps__title::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 1px;
  background-color: #1a1a1a;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.steps__line {
  width: 2px;
  height: 190px;
  background-color: #c4c4c4;
  position: absolute;
  top: 25px;
  left: 14px;
  z-index: -1;
}

.form {
  max-width: 835px;
  width: 100%;
}
.form__inner {
  display: flex;
  flex-wrap: wrap;
  column-count: 2;
  column-gap: 35px;
  row-gap: 50px;
  margin-bottom: 60px;
}
.form__item {
  max-width: 400px;
  width: 100%;
}
.form__input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #1a1a1a;
  background-color: transparent;
  padding: 0 0 15px 0;
  outline: transparent;
  border: none;
  border-bottom: 1px solid #797683;
}
.form__input--error {
  border-color: #ea0000;
}
.form__error-message {
  color: #ea0000;
}
.form__input::placeholder {
  color: #797683;
}
.form__input:focus {
  border-color: #ff39bc;
}
.form__input--file {
  display: none;
}
.form__file-label {
  color: #1a1a1a;
  position: relative;
  cursor: pointer;
  display: block;
  max-width: 320px;
  width: 100%;
  padding-left: 70px;
  transition: color 0.3s ease-in-out;
}
.form__file-label::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  display: block;
  background-image: url("../../images/booking-form/plus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.form__btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__file-label:hover {
  color: #ff39bc;
}
.form .file-name {
  padding-left: 70px;
  display: block;
  max-width: 400px;
  width: 100%;
  color: #ff39bc;
}

.footer {
  padding: 26px 0;
  background-color: #2b2b2b;
  margin-top: 100px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer__logo {
  color: #fff;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .container {
    max-width: 880px;
  }
  .menu__list {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo__mobile {
    display: block;
    min-width: 169px;
    min-height: 56px;
    z-index: 10;
  }
  .menu__burgerCloseBtn {
    position: absolute;
    top: 30px;
    /* Отступ от верхнего края */
    right: 20px;
    /* Отступ от правого края */
    cursor: pointer;
    width: 30px;
    /* Задайте ширину и высоту, подходящую для вашей иконки */
    height: 30px;
  }
  .menu__burgerCloseBtn img {
    width: 100%;
    height: 100%;
  }
  .header {
    padding-top: 15px;
  }
  .header__title {
    font-size: 65px;
  }
  .header__title::before {
    left: 50px;
  }
  .header__text {
    font-size: 14px;
    margin-left: 50px;
  }
  .header_inner img {
    width: 465px;
    height: 255px;
  }
  .mainBtn {
    width: 170px;
    height: 170px;
  }
  .mainBtn .btnText {
    font-size: 14px;
  }
  .menu__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 4;
  }
  .menu__burger,
  .menu__social,
  .menu__btn {
    flex-shrink: 0;
  }
  .menu__burger span {
    height: 2px;
    width: 100%;
    background-color: black;
  }
  .menu__btn {
    z-index: 10;
    margin-left: 350px;
  }
  .menu__social {
    z-index: 10;
  }
  .menu__mobile {
    display: none;
  }
  .menu__mobile.menu--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0FDFF;
    height: 100vh;
    z-index: 5;
    text-align: left;
    padding-top: 300px;
    padding-left: 25px;
  }
  .menu__mobile.menu--open::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("../images/decor/star.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 230px;
    right: 300px;
  }
  .menu__mobile.menu--open::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("../images/decor/star.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 700px;
    right: 100px;
  }
  .menu__mobile-link {
    color: #000;
    font-family: Mulish;
    font-size: 4vh;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: block;
    padding: 20px 0;
  }
  .portfolio__grid {
    grid-template-rows: 230px 230px;
    gap: 15px;
  }
  .portfolio__grid--item {
    width: 100%;
    height: 100%;
  }
  .portfolio__grid--item img {
    width: 100%;
    /* Ширина картинки займет всю доступную ширину ячейки */
    height: 100%;
    /* Автоматическая высота, чтобы сохранить пропорции */
  }
  .portfolio__grid--item:hover {
    transform: none;
  }
  .portfolio__grid--item:nth-child(1) {
    height: 100%;
    flex-shrink: 0;
  }
  .portfolio__grid--item:nth-child(2) {
    flex-shrink: 0;
  }
  .portfolio__grid--item:nth-child(3) {
    flex-shrink: 0;
  }
  .portfolio__grid--item:nth-child(4) {
    height: 100%;
    flex-shrink: 0;
  }
  .portfolio__decor::before {
    bottom: 84px;
    left: 113px;
  }
  .cities__item {
    width: 235px;
    height: 235px;
  }
  .booking-form__inner {
    flex-direction: column;
  }
  .steps {
    flex-direction: row;
  }
  .steps__line {
    display: none;
  }
  .steps__mobile--item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .steps__mobile--line {
    width: 2px;
    height: 320px;
    background-color: #c4c4c4;
    z-index: -1;
    transform: rotate(90deg);
  }
  .form__item {
    max-width: 350px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header__title {
    font-size: 45px;
    max-width: 595px;
  }
  .header__text {
    font-size: 14px;
    margin-left: 15px;
  }
  .header_inner img {
    width: 385px;
    height: 205px;
  }
  .menu__btn {
    margin-left: 250px;
  }
  .portfolio__grid {
    gap: 15px;
  }
  .portfolio__decor::before {
    bottom: 65px;
    left: 50px;
  }
  .designs__item:nth-child(1) img {
    height: auto;
  }
  .designs__item:nth-child(1) {
    grid-column: 1/span 3;
    grid-row: 2/span 1;
  }
  .designs__item:nth-child(2) {
    grid-column: 5/span 4;
    grid-row: 2/span 2;
  }
  .designs__item:nth-child(3) {
    grid-column: 9/span 4;
    grid-row: 1/span 1;
  }
  .designs__item:nth-child(4) {
    grid-column: 1/span 3;
    grid-row: 4/span 3;
  }
  .designs__item:nth-child(5) {
    grid-column: 5/span 3;
    grid-row: 5/span 5;
  }
  .designs__item:nth-child(6) {
    grid-column: 8/span 4;
    grid-row: 4/span 3;
  }
  .designs__instagram {
    margin-top: -170px;
  }
  .cities__country {
    font-size: 17px;
  }
  .cities__item {
    width: 185px;
    height: 185px;
  }
  .form__item {
    max-width: 600px;
    width: 100%;
  }
  .steps__mobile--line {
    width: 2px;
    height: 240px;
    background-color: #c4c4c4;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 530px;
  }
  .title {
    color: #000;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .header::before {
    background-position: 33% 87%;
  }
  .header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* Чтобы элементы выравнивались по центру по горизонтали */
    text-align: center;
  }
  .header__title {
    font-size: 35px;
    text-align: left;
    max-width: 290px;
    line-height: 50px;
  }
  .header__title::before {
    left: 280px;
    top: -80px;
  }
  .header__text {
    font-size: 14px;
    position: static;
    display: inline-block;
    text-align: left;
    margin-top: -40px;
  }
  .header_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Чтобы элементы выравнивались по центру по горизонтали */
    text-align: center;
  }
  .header_inner img {
    width: 420px;
    height: 260px;
    flex-shrink: 0;
  }
  .mainBtn {
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }
  .menu__btn {
    margin-left: 1px;
  }
  .about {
    margin-bottom: 50px;
  }
  .about__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Чтобы элементы выравнивались по центру по горизонтали */
    text-align: left;
  }
  .about__right {
    margin-top: 30px;
  }
  .portfolio {
    padding-top: 50px;
  }
  .portfolio__grid {
    display: none;
  }
  .carusel__input {
    display: none;
  }
  .carusel {
    display: block;
    position: relative;
    max-width: 400px;
    height: 400px;
    max-height: 100vh;
    margin: 20px auto;
    overflow: hidden;
    user-select: none;
  }
  .carusel__item {
    position: absolute;
    z-index: 1;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: center no-repeat;
    background-size: contain;
    transition: left 0.5s, transform 0.5s;
    will-change: transform;
    backface-visibility: hidden;
  }
  .carusel__arrow {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    opacity: 0.7;
    color: #fff;
    background-color: #999;
    cursor: pointer;
    padding: 10px;
    font-size: 28px;
    line-height: 39px;
    font-weight: bold;
  }
  input:checked + div ~ div ~ div ~ div .carusel__item {
    background-image: none !important;
  }
  input:checked + div *,
  input:checked + div + input + div .carusel__item,
  input:checked + div + input + div + input + div * {
    display: block;
  }
  .carusel__item {
    flex: 0 0 332px;
    height: 400px;
    border-radius: 130px 130px 5px 5px;
    background-size: cover;
    background-position: center;
  }
  input:checked + div .carusel__item {
    left: -100%;
    transform: scale(0.4);
  }
  input:checked + div + input + div .carusel__item {
    left: 0;
    transform: scale(1);
  }
  input:checked + div + input + div + input + div .carusel__item {
    left: 100%;
    transform: scale(0.4);
  }
  input:checked + div .carusel__arrow {
    left: 0;
  }
  input:checked + div + input + div + input + div .carusel__arrow {
    right: 0;
  }
  input:checked + div .carusel__arrow:before {
    content: "❰";
  }
  input:checked + div + input + div + input + div .carusel__arrow:before {
    content: "❱";
  }
  .portfolio__mobileBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .designs__inner {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
  }
  .designs__item {
    width: 100%;
    height: 100%;
  }
  .designs__item img {
    width: 100%;
  }
  .designs__item:nth-child(1) {
    grid-column: 2/span 7;
    grid-row: 1/span 1;
  }
  .designs__item:nth-child(1) img {
    width: 160px;
    height: 160px;
  }
  .designs__item:nth-child(2) {
    grid-column: 8/span 5;
    grid-row: 1/span 1;
  }
  .designs__item:nth-child(2) img {
    width: 280px;
  }
  .designs__item:nth-child(3) {
    grid-column: 4/span 8;
    grid-row: 6/span 3;
  }
  .designs__item:nth-child(3) img {
    width: 200px;
  }
  .designs__item:nth-child(4) {
    grid-column: 3/span 6;
    grid-row: 3/span 3;
  }
  .designs__item:nth-child(4) img {
    width: 180px;
    height: 180px;
  }
  .designs__item:nth-child(5) {
    grid-column: 7/span 6;
    grid-row: 4/span 3;
  }
  .designs__item:nth-child(5) img {
    width: 230px;
    height: 230px;
  }
  .designs__item:nth-child(6) {
    grid-column: 4/span 8;
    grid-row: 8/span 3;
  }
  .designs__item:nth-child(6) img {
    width: 350px;
  }
  .designs__instagram {
    margin-top: 50px;
  }
  .cities {
    padding-top: 100px;
    padding-bottom: 0;
  }
  .cities__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .cities__country {
    font-size: 22px;
  }
  .cities__item {
    margin-bottom: 16px;
    width: 256px;
    height: 256px;
  }
  .faq::after {
    background-position: 64% 48%;
  }
  .steps__mobile--line {
    width: 2px;
    height: 115px;
    background-color: #c4c4c4;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 420px) {
  .header__title::before {
    left: 215px;
    top: -135px;
  }
  .designs__item:nth-child(1) {
    grid-column: 4/span 7;
    grid-row: 1/span 1;
  }
  .designs__item:nth-child(1) img {
    width: 160px;
    height: 160px;
  }
  .designs__item:nth-child(2) {
    grid-column: 8/span 5;
    grid-row: 2/span 1;
  }
  .designs__item:nth-child(2) img {
    width: 280px;
  }
  .designs__item:nth-child(3) {
    grid-column: 4/span 8;
    grid-row: 6/span 3;
  }
  .designs__item:nth-child(3) img {
    width: 200px;
  }
  .designs__item:nth-child(4) {
    grid-column: 3/span 6;
    grid-row: 3/span 3;
  }
  .designs__item:nth-child(4) img {
    width: 180px;
    height: 180px;
  }
  .designs__item:nth-child(5) {
    grid-column: 7/span 6;
    grid-row: 4/span 3;
  }
  .designs__item:nth-child(5) img {
    width: 230px;
    height: 230px;
  }
  .designs__item:nth-child(6) {
    grid-column: 4/span 8;
    grid-row: 8/span 3;
  }
  .designs__item:nth-child(6) img {
    width: 350px;
  }
  .steps__mobile--line {
    width: 2px;
    height: 65px;
    background-color: #c4c4c4;
  }
}/*# sourceMappingURL=style.css.map */