.footer {
  padding: 26px 0;
  background-color: #2b2b2b;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  &__logo {
    color: #fff;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
